<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create">

    <input type="text" placeholder="add city" name="city">
    <input type="submit">
</form>

<table>

        {{range .}}
            <tr>
        <td>{{.ID}}</td>
        <td>{{.NameCity}}</td>


        <form action="/delete">
            <td><input type="submit" value="Удалить" name="{{.ID}}"></td>
        </form>
    </tr>
        {{end}}

</table>
</body>
</html>

